.home-section {
  width: 1440px;
  height: 3037px;
  flex-shrink: 0;
  background: #161625;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 50px;

  /* Shadow 2 */
  box-shadow: 0px 8px 16px 0px rgba(23, 31, 70, 0.08);
}
.search-input-container {
  width: 824px;
  height: 72px;
  flex-shrink: 0;
  padding-left: 30px;
  display: flex;
  align-items: center;
  margin-left: 308px;
  margin-right: 308px;
  background-color: rgba(47, 47, 67, 1);
}
@media screen and (max-width: 576px) {
  .home-section {
    width: 360px;
    height: 3600px;
  }
  .search-input-container {
    width: 312px;
    height: 48px;
    flex-shrink: 0;
    margin-left: 24px;
    margin-right: 24px;
  }
  .input {
    font-size: 12px;
  }
}
.input {
  color: var(--light-blue-gray-400, #94a3b8);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  background-color: transparent;
  outline: none;
  border: none;
}
.loader-container {
  margin: 20px;
}

.search-results-unordered-list {
  width: 979px;
  height: 142px;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;
  margin: 40px;
}
@media screen and (max-width: 576px) {
  .search-results-unordered-list {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 100%;
    margin: 10px;
  }
}
.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .list-item {
    margin: 30px;
  }
}
.confirmed-text {
  color: #ff073a;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.active-text {
  color: #007bff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.recovered-text {
  color: #28a745;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.deceased-text {
  color: #6c757d;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.confirmed-count {
  color: #ff073a;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 100% */
}
.active-count {
  color: #007bff;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 100% */
}
.deceased-count {
  color: #6c757d;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 100% */
}
.recovered-count {
  color: #28a745;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 100% */
}

.state-wide-coviddata-table {
  width: 65%;
  height: 2080px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid var(--light-blue-gray-600, #475569);
  background: #1e1e30;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.16);
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
@media screen and (max-width: 576px) {
  .state-wide-coviddata-table {
    width: 90%;
    height: 2079px;
    flex-shrink: 0;
    padding: 10px;
    overflow: auto;
  }
}
.state-ut {
  color: var(--light-blue-gray-50, #f8fafc);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.state-ut-container {
  display: flex;
  align-items: center;
  width: 203px;
}
.table-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 839px;
}

.column-heading {
  color: var(--light-blue-gray-50, #f8fafc);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  width: 43px;
}
.h-line {
  width: 100%;
  height: 1px;
  background: #475569;
}
@media screen and (max-width: 576px) {
  .h-line {
    width: 839px;
  }
}
.states-container {
  width: 203px;
  height: 1959px;
  flex-shrink: 0;
  color: var(--light-blue-gray-100, #f1f5f9);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .states-container {
    width: 203px;
    height: 1952px;
    flex-shrink: 0;
  }
}

.table-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 839px;
}
@media screen and (max-width: 576px) {
  .table-body {
    gap: 50px;
  }
}
.confirmed-counts {
  width: 43px;
  height: 1952px;
  flex-shrink: 0;
  color: #ff073a;
  text-align: right;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .confirmed-counts {
    width: 43px;

    height: 1952px;
    flex-shrink: 0;
    justify-content: space-evenly;
  }
}
.active-counts {
  width: 43px;
  height: 1952px;
  flex-shrink: 0;
  color: #007bff;
  text-align: right;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.recovered-counts {
  width: 43px;
  height: 1952px;
  flex-shrink: 0;
  color: #28a745;
  text-align: right;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.deceased-counts {
  width: 43px;
  height: 1952px;
  flex-shrink: 0;
  color: #6c757d;
  text-align: right;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.population-counts {
  width: 43px;
  height: 1952px;
  flex-shrink: 0;
  color: #94a3b8;
  text-align: right;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  align-self: flex-end;
}
.covid19 {
  color: var(--light-blue-gray-50, #f8fafc);
  text-align: center;
  font-family: Bree Serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.india {
  color: var(--light-blue-500, #3b82f6);
  font-family: Bree Serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
@media screen and (max-width: 576px) {
  .covid19 {
    font-size: 20px;
  }
  .india {
    font-size: 20px;
  }
}
.para {
  color: var(--light-blue-gray-400, #94a3b8);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.insta-logo {
  width: 47px;
  height: 61px;
  flex-shrink: 0;
  color: var(--light-blue-gray-300, #cbd5e1);
  text-align: center;
  font-family: Font Awesome 5 Brands;
  font-size: 52.923px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 576px) {
  .insta-logo {
    width: 22px;
    height: 25px;
    flex-shrink: 0;
  }
}
.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.cat {
  width: 42px;
  height: 46.106px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: var(--light-blue-gray-300, #cbd5e1);
}
.twitter {
  width: 49px;
  height: 40px;
  flex-shrink: 0;
  color: #ffffff;
}
@media screen and (max-width: 576px) {
  .logos {
    width: 117px;
    height: 30px;
    flex-shrink: 0;
  }
  .cat {
    width: 22px;
    height: 25px;
    flex-shrink: 0;
  }
  .twitter {
    width: 24px;
    height: 20px;
    flex-shrink: 0;
  }
  .para {
    color: var(--light-blue-gray-400, #94a3b8);
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    width: 312px;
  }
}

.dropdowm {
  width: 824px;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
  background: #161625;
  outline: none;
  border: 0px;
  color: #ffffff;
  list-style-type: none;
}
.options {
  width: 100%;
  height: 64px;
  flex-shrink: 0;
  border: 1px solid var(--light-blue-gray-400, #94a3b8);
  background: #1f1f30;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
@media screen and (max-width: 576px) {
  .options {
    width: 100%;
    height: 48px;
    flex-shrink: 0;
    border: 1px solid var(--light-blue-gray-400, #94a3b8);
    background: #1f1f30;
  }
  .dropdowm {
    width: 312px;
  }
}
.line-container {
  display: flex;

  justify-content: space-around;
  display: inline-flex;
  padding: 4px 6px;
  align-items: center;
  border-radius: 4px;
  background: var(--transparent-info-16, rgba(28, 212, 212, 0.16));
}
.state-code {
  color: var(--light-yellow-400, #facc15);

  /* Text Font / S1 Subtitle */
  font-family: HK Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  margin-top: 10px;
  margin-bottom: 10px;
}
.link {
  text-decoration: none;
}
